<mat-drawer-container class="examp" [hasBackdrop]="false">
  <mat-drawer-content>
    <mat-sidenav-container class="sidenav-container">
      <mat-sidenav #drawer mode="side" class="sidenav">
        <mat-toolbar>Welcome To </mat-toolbar>
        <mat-nav-list>
          <a mat-list-item routerLink="home" routerLinkActive="active">Home</a>
          <a mat-list-item routerLink="fibo" routerLinkActive="active">Fibonacci</a>
          <a mat-list-item routerLink="emi" routerLinkActive="active">EMI Calculate</a>
        </mat-nav-list>
      </mat-sidenav>
      <mat-sidenav-content>
        <mat-toolbar color="primary">
          <button
            type="button"
            aria-label="Toggle sidenav"
            mat-icon-button
            (click)="drawer.toggle()">
            <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
          </button>
          <span (click)="drawer.toggle()">Mind Bowser Second Day Example</span>
        </mat-toolbar>
        <div style="margin: 20px ;padding: 5px" >
          <router-outlet></router-outlet>
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </mat-drawer-content>
</mat-drawer-container>
