<div class="mat-card" style="padding: 15px;min-width: 300px; max-width: 300px">
    <mat-form-field appearance="legacy">
      <mat-label>fibonacci Series</mat-label>
      <input matInput value="1" type="number" #fibnum>
    </mat-form-field>
    <br>
    <!--<div *ngFor="let f of fibonacci"><p>{{f}},</p></div>-->
    <div style="max-width: 300px;word-wrap: anywhere;overflow: auto" ><p>{{fibonacci.toString()}} , </p></div>
    <br>
  <button mat-stroked-button (click)="openSnackBar(fibnum.value)">Show Answer</button>

  </div>
