<div fxFlex fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">
    <mat-card class="">
        <mat-card-header>
            <mat-card-title>For Loop Directive Example</mat-card-title>
            <mat-card-subtitle>Simple Loop Example</mat-card-subtitle>
        </mat-card-header>
        <mat-divider></mat-divider>
        <img matCardImage
        src="https://static.vecteezy.com/system/resources/thumbnails/002/356/343/small/abstract-wave-shape-lines-flow-vector.jpg">
        <!-- src="https://w7.pngwing.com/pngs/325/521/png-transparent-wavy-arrow-wave-arrow-purple.png"> -->
        <mat-card-content>
            <div fxFlex fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">

                <div fxFlex fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="10px">
                    <div class="boxx">
                        <h2>For Loop First example</h2>
                        {{element}}
                    </div>
                    
                    <div class="boxx">
                        <h2>For Loop Second example</h2>
                    </div>
                    
                    <div class="boxx">
                        <h2>For Loop Third example</h2>
                    </div>
                </div>



            </div>
        </mat-card-content>
<!-- 
        <mat-card-actions align="end">
            <div fxFlex fxLayout="row" fxLayoutAlign="space-around start" fxLayoutGap="20px">
                
                <button mat-raised-button color="primary" (click)="ngOnInit();">Calculate </button>
                <button mat-raised-button color="accent" (click)="ngOnInit();">Clear</button>
            </div>
        </mat-card-actions>
 -->
        <mat-divider></mat-divider>

        <mat-card-footer>
            Example By - Naynesh Rathod.
        </mat-card-footer>
    </mat-card>
</div>